body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 20%;
}

.content {
    height: 70%;
    /* Ubah untuk memberikan ruang bagi footer */
    display: flex;
    background-color: #E1D7C6;
}

#menu {
    width: 28%;
    background-color: #E1D7C6;

}

.main {
    width: 60%;
}

.logo {
    width: 12%;
    background-color: #E1D7C6;
}

.footer {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    background-color: blue;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

td a {
    color: white;
    text-decoration: none;
}

td a:hover {
    color: black;
}